<header>
    <div class="logo">Bouattour<span>.MedAmine</span></div>
    <ul class="navlist" [class.show]="isNavListVisible">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
    <div id="menu-icon" class="bx bx-menu" (click)="toggleNavList()"></div>
</header>

<section id="home" class="home">
    <div class="home-content">
        <h1>Hi I am Med Amine Bouattour</h1>
        <div class="change-text">
            <p>I am a <span>web developer</span> who graduated in big data and data analysis from ISIMS this year,
                passionate about developing both <span>frontend</span> and <span>backend</span> web applications.</p>
        </div>
        <div class="info-box">
            <div class="email-info">
                <h2>Email:</h2>
                <span>&nbsp;&nbsp; mbouattour99&#64;gmail.com</span>
            </div>
        </div>
        <div class="btn-box">
            <a href="assets\Images\cv.pdf" target="_blank" class="btn">See CV</a>
        </div>
        <div class="social-icons">
            <a href="https://www.facebook.com/med.bouattour.7/" target="_blank"><i
                    class='bx bxl-facebook-circle'></i></a>
            <a href="https://github.com/BouattourMohamed" target="_blank"><i class='bx bxl-github'></i></a>
            <a href="https://www.linkedin.com/in/mohamed-amine-bouattour-3a5828211/" target="_blank"><i
                    class='bx bxl-linkedin'></i></a>
        </div>
    </div>
    <div class="home-image">
        <div class="img-box">
            <img src="assets/Images/me.png" alt="My Image">
            <div class="liquide-shape">
                <svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="100%" id="blobSvg">
                    <path id="blob" fill="#12f7ff">
                        <animate attributeName="d" dur="10000ms" repeatCount="indefinite"
                            values="M463.5,298.5Q436,347,406.5,390.5Q377,434,324.5,432.5Q272,431,221.5,445Q171,459,127.5,428Q84,397,74,346.5Q64,296,43.5,245Q23,194,55,150Q87,106,129,74Q171,42,224.5,30.5Q278,19,334.5,32.5Q391,46,425,93Q459,140,475,195Q491,250,463.5,298.5Z;
                        M448,304Q456,358,410,387Q364,416,321.5,452.5Q279,489,224,476.5Q169,464,120,436.5Q71,409,50.5,356.5Q30,304,29.5,250Q29,196,65,157Q101,118,134,74Q167,30,223.5,17.5Q280,5,327,37.5Q374,70,401,113.5Q428,157,434,203.5Q440,250,448,304Z;
                        M450.5,293.5Q416,337,383,366Q350,395,312.5,425.5Q275,456,223.5,456Q172,456,119.5,434Q67,412,55.5,356.5Q44,301,34.5,247.5Q25,194,63,156Q101,118,143.5,99Q186,80,230,65Q274,50,328.5,54Q383,58,421,99Q459,140,472,195Q485,250,450.5,293.5Z;
                        M446.5,295Q421,340,388.5,371.5Q356,403,318,449Q280,495,229.5,466Q179,437,122.5,425Q66,413,71.5,353Q77,293,74.5,249.5Q72,206,86.5,162Q101,118,134,74Q167,30,221,37.5Q275,45,319,66Q363,87,388,125.5Q413,164,442.5,207Q472,250,446.5,295Z;
                        M433,292Q411,334,394,384.5Q377,435,327.5,459Q278,483,226,467Q174,451,124,428.5Q74,406,67,351.5Q60,297,45.5,246.5Q31,196,64,155Q97,114,142.5,100Q188,86,232,59.5Q276,33,324,53Q372,73,411,109Q450,145,452.5,197.5Q455,250,433,292Z">
                        </animate>
                    </path>

                </svg>
            </div>
        </div>

    </div>
</section>
<section id="about" class="about">
    <div class="img-about">
        <img src="assets/Images/me.png" alt="">
        <div class="info-about1">
            <span>2+</span>
            <p>Years of experience</p>
        </div>
        <div class="info-about2">
            <span>5+</span>
            <p>Project Complete</p>
        </div>
    </div>
    <div class="about-content">
        <span>let me introduce myself</span>
        <h2>about me</h2>
        <p>My name is Mohamed Amine. I am 22 years old and live in Tunisia. I am a web developer with 2 years of
            experience. I have worked on many projects, some of which were personal projects and others were during my
            internship and final year project.</p>

    </div>

</section>
<section id="services" class="services">
    <div class="main-text">
        <span>what i will do for you
        </span>
        <h2>My services</h2>
    </div>
    <div class="section-services">
        <div class="service-box">
            <i class="bx bxs-layer service-icon"></i>
            <h3>Full-stack developer</h3>
            <p>I am a full-stack developer proficient in Laravel for backend development and Angular for frontend
                development.
            </p>
        </div>
    </div>
</section>


<section id="skills" class="skills">
    <div class="main-text">
        <h2>My skills</h2>
    </div>
    <div class="skill-main">
        <div class="skill-left">
            <h3>Technical skills</h3>
            <div class="skill-bar">
                <div class="info">
                    <p>HTML</p>
                    <p>100%</p>
                </div>
                <div class="bar">
                    <span class="html"></span>
                </div>
            </div>
            <div class="skill-bar">
                <div class="info">
                    <p>CSS</p>
                    <p>70%</p>
                </div>
                <div class="bar">
                    <span class="CSS"></span>
                </div>
            </div>
            <div class="skill-bar">
                <div class="info">
                    <p>JAVASCRIPT</p>
                    <p>60%</p>
                </div>
                <div class="bar">
                    <span class="angular"></span>
                </div>
            </div>
            <div class="skill-bar">
                <div class="info">
                    <p>LARAVEL</p>
                    <p>90%</p>
                </div>
                <div class="bar">
                    <span class="laravel"></span>
                </div>
            </div>
            <div class="skill-bar">
                <div class="info">
                    <p>ANGULAR</p>
                    <p>60%</p>
                </div>
                <div class="bar">
                    <span class="angular"></span>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="main-text">
            <span>Portfolio</span>
            <h2>My Previous Work</h2>
        </div>
        <div class="portfolio-gallery">
            <div class="port-box">
                <div class="port-image">
                    <img src="assets/Images/Crm.png" alt="">
                </div>
                <div class="port-content">
                    <h3>Crm</h3>
                    <p> web application facilitates seamless organization and management of client interactions for
                        enterprises. Tailored to streamline communication and enhance productivity</p>
                </div>
            </div>

            <div class="port-box">
                <div class="port-image">
                    <img src="assets/Images/mecanique.png" alt="">

                </div>
                <div class="port-content">
                    <h3>Auto Yassin</h3>
                    <p>Our web application is designed to streamline operations and enhance efficiency for mechanical
                        stores. It offers comprehensive tools for organizing information, managing inventory, generating
                        invoices, and providing insightful dashboards tailored to meet the specific needs of your
                        business.</p>
                </div>
            </div>

            <div class="port-box">
                <div class="port-image">
                    <img src="assets/Images/Portfolio.png" alt="">
                </div>
                <div class="port-content">
                    <h3>Bouattour Mohamed Amine</h3>
                    <p>where I showcase a diverse range of projects and applications that exemplify my expertise in web
                        development</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact" class="contact">
    <div class="main-text">
        <span>Ask me a question</span>
        <h2>Contact me</h2>
    </div>
    <form action="">
        <input type="text" placeholder="Your Name">
        <input type="text" placeholder="Your Email">
        <textarea name="" id="" cols="30" rows="10" type="text" placeholder="Your Message"></textarea>
        <div class="btn-box formBtn">
            <a type="submit" class="btn">Send Message</a>
        </div>
    </form>
</section>
<footer>
    <p>Copyright &copy; 2024 by Bouattour med amine || All Right Reserved.</p>
    <a href="#home"><i class="bx bx-up-arrow-alt"></i></a>
</footer>